<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー登録</title>
</head>
<body>
	<h1>カテゴリー登録</h1>
	
	<span th:replace = "greetingSpan"></span>
	
	<ul style="list-style: none; color: red;">
		<li id = "err"></li>
	</ul>
	<p id = "err"></p>
	
	<form action = "/category/add" method = "post" name = "categoryForm">
		<table border = "1">
			<tr>
				<th>
					カテゴリー名
				</th>
				
				<td>
					<input type = "text" name = "name">
				</td>
			</tr>
		</table>
		
		<button onclick="return checkName()">この内容で登録</button>
<!--		<input type = "submit" value = "登録" onclick="return checkName">-->
		
	</form>
	
	<a href = "/category">カテゴリー一覧へ戻る</a> 
	
	<br>
	
	<a href = "/taskList">ToDo一覧へ戻る</a>
	
	<script th:inline = "javascript">
		function checkName(){
			return false
		}
		
	</script>
		

</body>
</html>