<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー編集</title>
</head>
<body>
	<h1>カテゴリー編集</h1>
	
	<span th:replace = "greetingSpan"></span>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form th:action = "'/category/' + ${category.id} + '/edit'" method = "post">
		<table border = "1">
			<tr>
				<th>カテゴリー名</th>
				<th>
					<th:block th:if ="${errKind == null}">
						<input type = "text" name = "name" th:value = "${category.name}">
					</th:block>
					
					<th:block th:if ="${errKind == 1}">
						<input type = "text" name = "name" th:value = "${name}">
					</th:block>
					
					<th:block th:if ="${errKind == 2}">
						<input type = "text" name = "name" th:value = "${categoryName}">
					</th:block>
				</th>
			</tr>
		</table>
		
		<button>更新</button>
		
	</form>
	
	<a href = "/category">カテゴリー一覧へ戻る</a> 
	
	<br>
	
	<a href = "/taskList">ToDo一覧へ戻る</a>

</body>
</html>