<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー編集</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	
	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<ul>
				<li><a href = "/taskList">ホーム</a></li>
				<li><a href = "/category" class="link-category">カテゴリー管理</a></li>
				<li><a href="/taskList/finish">完了ToDo一覧</a></li> 
		</ul>
	</nav>
	
	<h3>カテゴリー編集</h3>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form th:action = "'/category/' + ${category.id} + '/edit'" method = "post">
		<table border = "1" class = "category">
			<tr>
				<th>カテゴリー名</th>
				<td>
					<th:block th:if = "${errKind == null}">
						<input type = "text" name = "name" th:value = "${category.name}">
					</th:block>
					
					<th:block th:if = "${errKind == 1}">
						<input type = "text" name = "name" th:value = "${name}">
					</th:block>
					
					<th:block th:if = "${errKind == 2}">
						<input type = "text" name = "name" th:value = "${categoryName}">
					</th:block>
				</td>
			</tr>
		</table>
		
		<button class = "btn-ToDo">更新</button>
		
	</form>
	
	<hr>
	
	<footer th:replace = "footer"></footer>

</body>
</html>