<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー管理</title>
</head>
<body>
	<h1>カテゴリー管理</h1>
	
	こんにちは、[[${@account.name}]]さん
	
	<a href = "/login">ログアウト</a>

	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>


	<form action = "/category/add" method = "get">
		<button>新規登録</button>
	</form>

	<table border = "1">
		<tr>
			<th>カテゴリー名</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each = "category, start : ${categories}">
			<th th:text = "${category.name}"></th>
			<th>
				<form th:action = "'/category/' + ${category.id} + '/edit'" method = "get">
					<button>更新</button>
				</form>
			</th>
			<th>
				<form th:action = "'/category/' + ${category.id} + '/delete'" method = "post">
					<button>削除</button>
				</form>
			</th>
		</tr>
	</table>
		
	<a href = "/taskList">ToDo一覧へ戻る</a>


</body>
</html>




