<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー管理</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<ul>
			<li><a href = "/taskList">ホーム</a></li>
		</ul>
	</nav>

	<h3>カテゴリー管理</h3>

	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>

	<table border = "1" class = "category">
		<tr>
			<th>カテゴリー名</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each = "category, start : ${categories}">
			<td th:text = "${category.name}"></td>
			<td class = "td-btn">
				<form th:action = "'/category/' + ${category.id} + '/edit'" method = "get">
					<button class = "btn-solid">更新</button>
				</form>
			</td>
			<td class = "td-btn">
				<form th:action = "'/category/' + ${category.id} + '/delete'" method = "post">
					<button class = "btn-solid btn-delete">削除</button>
				</form>
			</th>
		</tr>
	</table>
	
	<form action = "/category/add" method = "get">
		<button class = "btn-ToDo btn-big">新規登録</button>
	</form>


	<hr>
	
	<footer th:replace = "footer"></footer>
	
</body>
</html>




