<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規カテゴリー登録</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	
	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<lu>
			<li><a href = "/category">カテゴリー一覧へ戻る</a></li>
			<li><a href = "/taskList">タスクリスト一覧へ戻る</a></li>
		</lu>
	</nav>
	
	<h3>新規カテゴリー登録</h3>
	
	<ul style="list-style: none; color: red;">
		<li id = "err"></li>
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
<!--	<p id = "err"></p>-->
	
	<form action = "/category/add" method = "post" name = "categoryForm">
		<table border = "1">
			<tr>
				<th>
					カテゴリー名
				</th>
				
				<td>
					<input type = "text" name = "name" th:value = "${name}">
				</td>
			</tr>
		</table>
		
		<button onclick="return checkName()">この内容で登録</button>
<!--		<input type = "submit" value = "登録" onclick="return checkName">-->
		
	</form>
	
	<hr>
	
	<footer th:replace = "footer"></footer>
	
	<script th:inline = "javascript">
		function checkName(){
			if(categoryForm.name.value == ""){
				let err = document.querySelector("#err");
				err.innerHTML = "【カテゴリー名】　は入力必須です";
				return false;
				
			}else{
				return true;	
			}
			
			
		}
		
	</script>
		

</body>
</html>