<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	<h1>ログイン画面</h1>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form action = "/login" method = "post">
		<input type = "text" name = "loginId" placeholder = "ユーザーID">
		
		<br>
		
		<input type = "text" name = "password" placeholder = "パスワード">
<!--		<input type = "password" name = "" placeholder = "パスワード">-->
		
		<br>
		

		
		<button>ログイン</button>

	</form>

	<a href = "/userAdd">新規登録</a>
	
	<hr>
	
	<footer th:replace = "footer"></footer>
	

</body>
</html>





