<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo更新</title>
</head>
<body>
	<h1>ToDo更新</h1>
	
	こんにちは、[[${@account.name}]]さん
	
	<a href = "/login">ログアウト</a>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form th:action = "'/taskList/' + ${t.id} + '/edit'" method = "post">
		<table border = "1">
			<tr>
				<th>ToDo</th>
				<td>
					<th:block th:unless = "${err2}">
						<input 
							type = "text" 
							name = "task" 
							th:value = "${t.task}">
					</th:block>
					
					<th:block th:if = "${err2}">
						<input 
							type = "text" 
							name = "task" 
							value = "">
					</th:block>
				</td>
			</tr>
			
			<tr>
				<th>詳細</th>
				<td>
					<th:block th:unless = "${err2}">
						<input 
							type = "text" 
							name = "taskDetail" 
							th:value = "${t.taskDetail}">
					</th:block>
					
					<th:block th:if = "${err2}">
						<input 
							type = "text" 
							name = "taskDetail" 
							th:value = "${taskDetail}">
					</th:block>
				</td>
			</tr>
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name = "categoryId">
						<th:block th:unless = "${err2}">
							<option 
								th:each = "category : ${categories}" 
								th:text = "${category.name}" 
								th:value = "${category.id}"
								th:selected = "${category.id == selectedValue}">
							</option>
						</th:block>
						
						<th:block th:if = "${err2}">
							<option 
								th:each = "category : ${categories}" 
								th:text = "${category.name}" 
								th:value = "${category.id}"
								th:selected = "${category.id == categoryId}">
							</option>
						</th:block>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>期日</th>
				<td>
					<input 
						type = "date" 
						name = "deadline" 
						th:value = "${deadline}">
<!--						th:value = "${t.deadline}"-->
				</td>
			</tr>
		</table>
		
		<button>この内容で更新</button>
		
	</form>

	<a href = "/taskList">一覧へ戻る</a>

</body>
</html>



