<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク詳細</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	
	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<ul>
			<!--未完了タスク一覧からのアクセス-->
			<th:block th:if = "${t.situation.equals('未')}">
				<li><a href = "/taskList">ホーム</a></li>
			</th:block>
			
			<!--完了タスク一覧からのアクセス-->
			<th:block th:if = "${t.situation.equals('済')}">
				<li><a href = "/taskList">ホーム</a></li>
				<li><a href="/taskList/finish">完了タスク一覧</a></li>
			</th:block>
		</ul>
	</nav>
	
	<h3>タスク詳細</h3>
	
		
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form th:action = "'/taskList/' + ${t.id} + '/edit'" method = "post">
		<table border = "1" class = "detail">
			<tr>
				<th>ToDo</th>
				<td th:switch = "${errKind}">
						<!--ToDo無し-->
						<input type = "text" name = "task" th:case = "1" th:value = "${task}">

						<!--期日過去-->
						<input type = "text" name = "task" th:case = "2" th:value = "${currentTask}">

						<!--ToDo無し・期日過去-->
						<input type = "text" name = "task" th:case = "3" th:value = "${task}">
						
						<!--初回-->
						<input type = "text" name = "task" th:case = "*" th:value = "${t.task}">
				</td>
			</tr>
			
			<tr>
				<th>詳細</th>
				<td th:switch = "${errKind}">
						<!--初回-->
<!--						<input type = "text" name = "taskDetail" th:case = "null" th:value = "${t.taskDetail}">-->
						<textarea name = "taskDetail" th:case = "null" th:text = "${t.taskDetail}"></textarea>
					
						<!--ToDo無し,期日過去,ToDo無し・期日過去-->
<!--						<input type = "text" name = "taskDetail" th:case = "*" th:value = "${taskDetail}">-->
						<textarea name = "taskDetail" th:case = "*" th:text = "${taskDetail}"></textarea>
				</td>
			</tr>
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name = "categoryId">
						<!--初回-->
						<th:block th:if = "${errKind == null}">
							<option
								th:each = "category : ${categories}" 
								th:text = "${category.name}" 
								th:value = "${category.id}"
								th:selected = "${category.id == t.categoryId}">
							</option>
						</th:block>
						<!--ToDo無し,期日過去,ToDo無し・期日過去-->
						<th:block th:if = "${errKind != null}">
							<option 
								th:each = "category : ${categories}" 
								th:text = "${category.name}" 
								th:value = "${category.id}"
								th:selected = "${category.id == categoryId}">
							</option>
						</th:block>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>期日</th>
				<td th:switch = "${errKind}">
						<!--ToDo無し-->
						<input type = "date" name = "deadline" th:case = "1" th:value = "${deadlineFlash}">
					
						<!--期日過去,ToDo無し・期日過去-->
						<input type = "date" name = "deadline" th:case = "2" th:value = "${deadlineFlash}">
						<input type = "date" name = "deadline" th:case = "3" th:value = "${deadlineFlash}">

						<!--初回-->
						<input type = "date" name = "deadline" th:case = "*" th:value = "${t.deadline}">
				</td>
			</tr>
			
			<tr>
				<th>残り日数</th>
				<td th:text = "${dayNum}" th:style="|color:${numColor}|"></td>
			</tr>
			
<!--			<tr>-->
<!--				<th>状態</th>-->
<!--				<td th:text = "${t.situation}"></td>-->
<!--			</tr>-->
		</table>
			
		
		<button form = "edit" class = "btn-ToDo btn-big" id = "btn-reset">リセット</button>	
		<button class = "btn-ToDo">更新</button>
		<button form = "delete" class = "btn-ToDo btn-deleteTask">削除</button>
	</form>
	
	<!--削除ボタン用-->
	<form th:action = "'/taskList/' + ${t.id} + '/delete'" method = "post" id = "delete">
		
	</form>
	
	<!--リセットボタン用-->
	<form th:action = "'/taskList/' + ${t.id} + '/edit'" method="get" id = "edit">
	</form>

	<hr>
	
	<footer th:replace = "footer"></footer>

</body>
</html>



