<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo一覧</title>
</head>
<body>
	<h1>ToDo一覧</h1>

	こんにちは、[[${@account.name}]]さん
	

	<a href = "/login">ログアウト</a>
	
	<br>
	
	<form action = "/taskList" method = "get">
		<select name = "categoryId">
				<option value = "0">全表示</option>
				<option  
					th:each = "category : ${categories}" 
					th:text = "${category.name}" 
					th:value = "${category.id}">
				</option>
		</select>
	
<!--		<input type = "radio" th:each = "category : ${categories}" th:text = "category.name"-->
<!--			th:href = "'items?categoryId=' + ${category.id}" th:value = "category.id">			-->
			
		<button>検索</button>
	</form>
	
	<a href = "/category">カテゴリー管理</a>
	
	<form action = "/taskList/add" method = "get">
		<button>新規登録</button>
	</form>

	<table border = "1">
		<tr>
			<th>No</th>
			<th>ToDo一覧</th>
			<th>カテゴリー</th>
			<th>期日</th>
			<th>更新</th>
			<th>完了</th>
		</tr>
		
		<tr th:each = "t, start : ${tasks}">
			<td th:text = "${start.count}"></td>
			<td th:text = "${t.task}"></td>
			
			<td th:text = "${t.categoryId}"></td>
			
			<td th:text = "${t.deadline}"></td>
			<td>
				<form th:action = "'/taskList/' + ${t.id} + '/edit'" method = "get">
					<button>更新</button>
				</form>
			</td>
			
			<td>
				<form th:action = "'/taskList/' + ${t.id} + '/delete'" method = "post">
					<button>完了</button>
				</form>
			</td>		
		</tr>
		
	</table>
	
	

</body>
</html>




