<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規ToDo登録</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	
	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<ul>
			<li><a href = "/taskList">ホーム</a></li>
			<li><a href = "/category" class="link-category">カテゴリー管理</a></li>
			<li><a href="/taskList/finish">完了ToDo一覧</a></li>
		</ul>
	</nav>
	
	<h3>新規ToDo登録</h3>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>

	<form action = "/taskList/add" method = "post">
		<table border  = "1" class = "detail">
			<tr>
				<th>ToDo</th>
				<td>
					<input type = "text" name = "task">
				</td>
			</tr>
			
			<tr>
				<th>詳細</th>
				<td>
<!--					<input type = "text" name = "detail">-->
					<textarea name = "detail"></textarea>
				</td>
			</tr>
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name = "categoryId">
						<option th:each = "category : ${categories}" th:text = "${category.name}" th:value = "${category.id}"></option>
<!--						<option th:text = "ほげ" th:value = "0"></option>-->
					</select>
				</td>
			</tr>
			
			<tr>
				<th>期日</th>
				<td>
					<input type = "date" name = "deadline" style="text-align: center; width: 100px;">
				</td>
			</tr>
		</table>
		
		<button class = "btn-ToDo">登録</button>
		
	</form>

	
	
	<hr>
	
	<footer th:replace = "footer"></footer>

</body>
</html>