<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo登録</title>
</head>
<body>
	<h1>ToDo登録</h1>
	
	こんにちは、[[${@account.name}]]さん
	
	<a href = "/login">ログアウト</a>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>

	<form action = "/taskList/add" method = "post">
		<table border  = "1">
			<tr>
				<th>ToDo</th>
				<td>
					<input type = "text" name = "task">
				</td>
			</tr>
			
			<tr>
				<th>詳細</th>
				<td>
					<input type = "text" name = "detail">
				</td>
			</tr>
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name = "categoryId">
						<option th:each = "category : ${categories}" th:text = "${category.name}" th:value = "${category.id}"></option>
<!--						<option th:text = "ほげ" th:value = "0"></option>-->
					</select>
				</td>
			</tr>
			
			<tr>
				<th>期日</th>
				<td>
					<input type = "date" name = "deadline">
				</td>
			</tr>
		</table>
		
		<button>この内容で登録</button>
		
	</form>

	<a href = "/taskList">一覧へ戻る</a>

</body>
</html>