<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo更新</title>
</head>
<body>
	<h1>ToDo更新</h1>
	
	こんにちは、[[${@account.name}]]さん
	
	<a href = "/login">ログアウト</a>
	
	<form th:action = "'/taskList/' + ${t.id} + '/edit'" method = "post">
		<table border = "1">
			<tr>
				<th>ToDo</th>
				<td>
					<input type = "text" name = "task" th:value = "${t.task}">
				</td>
			</tr>
			
			<tr>
				<th>詳細</th>
				<td>
					<input type = "text" name = "taskDetail" th:value = "${t.taskDetail}">
				</td>
			</tr>
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name = "categoryId">
						<option th:each = "category : ${categories}" th:text = "${category.name}" th:value = "${category.id}"></option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>期日</th>
				<td>
					<input type = "date" name = "deadline" th:value = "${deadline}">
<!--					<input type = "date" name = "deadline" th:value = "1998-12-12">-->
				</td>
			</tr>
		</table>
		
		<button>この内容で更新</button>
		
	</form>

	<a href = "/taskList">一覧へ戻る</a>

</body>
</html>



