<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>

	<header th:replace = "header"></header>
	
	<hr>
	
	<nav>
		<ul>
			<li><a href = "/category">カテゴリー管理</a></li>
			<li><a href="/taskList/finish">完了タスクリスト一覧</a></li>
		</ul>
	</nav>
	
	
	<h3>タスク一覧</h3>
	
	
	<div class = "content">
		<form action = "/taskList" method = "get">
			<table border = "1"  id = "order">
				<tr>
					<th>検索</th>
					<th>並び替え</th>
					<th>実行</th>
				</tr>
				<tr>	
						<td>
							<select name = "categoryId">
									<option value = "0">全表示</option>
									<option  
										th:each = "category : ${categories}" 
										th:text = "${category.name}" 
										th:value = "${category.id}">
									</option>
							</select>
						</td>
						
						<td>
							<input type = "checkbox" name = "sort" value = "deadline">期日
							<input type = "checkbox" name = "sort" value = "categories"> カテゴリー
						</td>
						
						<td>
							<button>実行</button>
						</td>
				</tr>
			</table>
			
		</form>
	</div>
	
	<br>
	
	<div>
<!--	<a href = "/category">カテゴリー管理</a>-->
	
<!--	<form action = "/taskList/add" method = "get">-->
<!--		<button>新規登録</button>-->
<!--	</form>-->
	</div>

	<table border = "1" class = "task">
		<tr>
			<th class = "No">No</th>
			<th>ToDo</th>
			<th>カテゴリー</th>
			<th>期日</th>
<!--			<th>更新</th>-->
			<th>完了</th>
		</tr>
		
		<tr th:each = "t, start : ${tasks}">
			<td th:text = "${start.count}"></td>
<!--			<td th:text = "${t.task}"></td>-->
			<td>
				<a th:href = "'/taskList/' + ${t.id} + '/edit'" th:text = "${t.task}"></a>
			</td>
			
			<td th:text = "${t.categoryName}"></td>
		
			<td th:text = "${t.deadline}"></td>
			
<!--			<td>-->
<!--				<form th:action = "'/taskList/' + ${t.id} + '/edit'" method = "get">-->
<!--					<button>更新</button>-->
<!--				</form>-->
<!--			</td>-->
			
			<td>
				<form th:action = "'/taskList/' + ${t.id} + '/finish'" method = "post">
					<button class = "btn btn-solid">完了</button>
				</form>
			</td>		
		</tr>
		
	</table>
	
	<div>
		<form action = "/taskList/add" method = "get">
			<button>新規登録</button>
		</form>
	</div>
	
	<hr>
	
	<footer th:replace = "footer"></footer>
	
</body>
</html>




