<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo一覧</title>
</head>
<body>
	<h1>ToDo一覧</h1>

	こんにちは、[[${@account.name}]]さん

	<a href = "/login">ログアウト</a>
	
	<br>
	
<!--	<form th:action = "'/taskList?categoryId=' + ${category.id}" method = "get">-->
<!--		<select name = "categoryId">-->
<!--				<option th:each = "category : ${categories}" th:text = "category.name" -->
<!--					th:value = "category.id"></option>-->
<!--		</select>-->
	
<!--		<input type = "radio" th:each = "category : ${categories}" th:text = "category.name"-->
<!--			th:href = "'items?categoryId=' + ${category.id}" th:value = "category.id">			-->
			
<!--		<button>検索</button>-->
<!--	</form>-->
	
	<br>
	
	<a href = "/category">カテゴリー管理</a>
	
	<form action = "/taskList/add" method = "get">
		<button>新規登録</button>
	</form>

	<table border = "1">
		<tr>
			<th>No</th>
			<th>ToDo一覧</th>
			<th>カテゴリー</th>
			<th>期日</th>
			<th>更新</th>
			<th>完了</th>
		</tr>
		
		<tr th:each = "task : ${tasks}">
			<td th:text = "task.id"></td>
			<td th:text = "task.task"></td>
			<td th:text = "task.categoryId"></td>
			<td th:text = "task.deadline"></td>
			<td>
				<form action = "/taskList/edit" method = "get">
					<button>更新</button>
				</form>
			</td>
			
			<td>
				<form action = "" method = "">
					<button>完了</button>
				</form>
			</td>
		</tr>
		
	</table>
	
	

</body>
</html>




