<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	<h1>ユーザー登録</h1>
	
	<ul style="list-style: none; color: red;">
		<li th:each = "err : ${errs}" th:text = "${err}"></li>
	</ul>
	
	<form action = "/userAdd" method ="post">
		<table border = "1">
			<tr>
				<th>ユーザーネーム</th>
				<td>
					<input type = "text" name = "name" th:value = "${name}">
				</td>
			</tr>
			
			<tr>
				<th>ユーザーID</th>
				<td>
					<input type = "text" name = "loginId" th:value = "${loginId}">
				</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
				<td>
					<input type = "text" name = "password">
				</td>
			</tr>
		</table>
		
		<button>この内容で登録</button>
		
	</form>
	
	<a href = "/login">ログイン画面へ戻る</a>
	
	<hr>
	
	<footer th:replace = "footer"></footer>
	
</body>
</html>