<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>
	<h1>ユーザー登録</h1>
	
	<form action = "" method ="">
		<table border = "1">
			<tr>
				<th>ユーザーネーム</th>
				<td>
					<input type = "text" name = "">
				</td>
			</tr>
			
			<tr>
				<th>ユーザーID</th>
				<td>
					<input type = "text" name = "">
				</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
				<td>
					<input type = "text" name = "">
				</td>
			</tr>
		</table>
		
		<button>この内容で登録</button>
		
	</form>
	
	<a href = "/login">ログイン画面へ戻る</a>
	
</body>
</html>